<script>

  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { max } from "d3-array";

  import Mycircle from './_design_2_tu.svelte';


  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  //data
  let data = null;
  const cities = ["Los Angeles","Chicago","Baltimore"]



  onMount(async () => {
    data = await json('/data/daily_heating_cooling.json')
    
  }
  );
  
  function citydata(mydata,mycity) {
    return mydata.filter(d => d.city == mycity)
  }

  function Max_heat_cool(mydata) {
      return max(mydata, (d) => Math.max(d.heating, d.cooling));
  }
  
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
<div>
<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
    <text x="0" y="7" fill="Fuchsia" style="font-size:12px">Heating</text>
    <text x="0" y="20" fill="Aqua" style="font-size:12px">Cooling</text>

    {#each cities as ct,i}
    <Mycircle data={citydata(data,ct)} city={ct} x0={innerWidth/6*(2*i+1)} myMax={Max_heat_cool(data)}/>  
    {/each}
  </g>
</svg>
</div>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>


