<style>
	span{
        color:rgb(240, 104, 13)
    }
    p {
		color: steelblue;
		font-family: '"Brush Script MT"', cursive;
		font-size:  50px;
	}
</style>

<p>I <span>really</span> like data visualisation!</p>

