<script>
    const name = 'Haijia Chen';
    const fav_thing =['Playing Basketball ' ,'Listening to Jazz music ','Traveling to new places '];
 </script>
 <p>My name is {name} and these are some of my favourite things: {fav_thing}. </p>
 
