<script>
    const r = 4;
   
    function circum(r){
        return (2*Math.PI*r).toFixed(2) ;
    }
   
   const n = circum(r);
   
   </script>
   
   <p>The circumference of a circle with radius {r}m is {n}m.</p>
   
