<script>


    let counter = 0;
  </script>
  
  <div>
    <button class="btn btn-primary" on:click={() => (counter += 1)}>
        {#if counter<=1}
            Hi you have clicked {counter} time
        {:else}
            Hi you have clicked {counter} times
        {/if}
    </button>
    <button class="btn btn-warning" on:click={() => (counter = 0)}>
        Reset times you have clicked
    </button>
  </div>



