<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
  import { scaleLog } from 'd3-scale';
  const scaleX= scaleLog().domain([1,10]).range([0,innerWidth])
  const scaleY= scaleLog().domain([1,10]).range([0,innerHeight])

 //Axes
 import { axisBottom } from 'd3-axis';
  const axis=axisBottom(scaleX);

  import { select } from "d3-selection";
import { text } from 'svelte/internal';

  function xAxis(node){
    let a = select(node).call(axis);
  }

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
      <circle cx={scaleX(value)} cy={innerHeight/3} r=10 />
    {/each}
  </g>

  <g transform="translate({margin.left},{margin.top+60})" use:xAxis />
  <!-- svelte-ignore component-name-lowercase -->
  <text transform="translate({width / 2},{height})">x-axis</text>
</svg>

<style>
  text {
    fill: currentColor;
  }
  circle {
fill: orange;
}
</style>
