<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  let categories = values.map(d => d.category);
  import { scaleLinear } from 'd3-scale';
  import { scaleOrdinal } from 'd3-scale';
  import { extent } from 'd3-array';
  import {schemeDark2} from 'd3-scale-chromatic';

  const Xscale = scaleLinear()
    .domain([0,10])
    .range([0,innerWidth]);

  const Yscale = scaleLinear()
    .domain([0,3])
    .range([innerHeight,0]);

  const Catscale = scaleOrdinal(schemeDark2)
    .domain(extent(categories));

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <line x1={margin.left} y1={innerHeight} x2={innerWidth} y2={innerHeight} style="stroke:rgb(0,0,0);stroke-width:1"/>
    {#each values as datapoint}
    <text x={Xscale(datapoint.x)} y={Yscale(datapoint.y)-10}>{datapoint.y}</text>
    <circle cx = {Xscale(datapoint.x)}
            cy = {Yscale(datapoint.y)}
            r = 6 
            fill = {Catscale(datapoint.category)}/>
    <line x1={Xscale(datapoint.x)} y1={innerHeight}  x2={Xscale(datapoint.x)} y2={Yscale(datapoint.y)+5} style="stroke:rgb(0,0,0);stroke-width:1"/>

    {/each}

  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
  
</style>
