<script>
  import { scaleLinear } from 'd3-scale';
  import { scaleBand } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { axisLeft} from 'd3-axis';
  import { select } from 'd3-selection';
  

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  let services = data.map(d => d.service);
  let viewers = data.map(d => d.service);

  const yScale = scaleLinear()
    .domain([0,3])
    .range([innerHeight, 0]);

  const xScale = scaleBand()
    .domain(services)
    .range([0, innerWidth])
    .paddingInner(0);
  //  .bandWidth();

  function yAxis(x) {
    axisLeft(yScale)(select(x))
    
  }

  function xAxis(x) {
    axisBottom(xScale)(select(x));
  }



</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as datapoint (datapoint.service)}

    <rect 
      x = "{xScale(datapoint.service)}"
      y = "{yScale(datapoint.viewers)}"
      width = "{innerWidth / (services.length+2) }"
      height = "{innerHeight - yScale(datapoint.viewers)}"
      fill = "orange"
    ></rect>
  {/each}
  
</g>
<g use:xAxis transform="translate(50,270)"></g>
<g use:yAxis transform="translate(50,10)"></g>

<text x="0%" y="50%" style="font-size:x-small;" alignment-baseline="middle" fill="black" transform="translate(-130,180) rotate(-90)">Viewers (Million)</text>
</svg>

